*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

:root {
    --rotateScene: 30s;
    --dropBall: 100s;
    --ballScale: .5;
}