#layersEditBtn {
    position: absolute;
    top: 6em;
    right: 2em;
    cursor: pointer;
}

#planeXLayersEditLabel {
    position: absolute;
    top: 2em;
    left: 3em;
}

#planeXLayersShape {
    position: absolute;
    top: 5em;
    left: 3em;
}

#animateXOnOffLabel {
    position: absolute;
    top: 6em;
    left: 2.5em;
}

#animateXOnOff {
    position: absolute;
    top: 9em;
    left: 3em;
}
#animationXSpeedLabel {
    position: absolute;
    top: 10em;
    left: 2.5em;
}
#animationXSpeed {
    position: absolute;
    top: 14em;
    left: 3em;
}

#xEvenRotationOnOffLabel {
    position: absolute;
    top: 17em;
    left: 3em;
    font-size: .8em;
}

#xEvenRotationOnOff {
    position: absolute;
    top: 18.5em;
    left: 3em;
}
#xOddRotationOnOffLabel {
    position: absolute;
    top: 22em;
    left: 3em;
    font-size: .8em;
}

#xOddRotationOnOff {
    position: absolute;
    top: 23.5em;
    left: 3em;
}




#planeYLayersEditLabel {
    position: absolute;
    top: 2em;
    left: 11em;
}

#planeYLayersShape {
    position: absolute;
    top: 5em;
    left: 13em;
}

#animateYOnOffLabel {
    position: absolute;
    top: 6em;
    left: 11em;
}

#animateYOnOff {
    position: absolute;
    top: 9em;
    left: 13em;
}
#animationYSpeedLabel {
    position: absolute;
    top: 10em;
    left: 11em;
}

#animationYSpeed {
    position: absolute;
    top: 14em;
    left: 13em;
}

#yEvenRotationOnOffLabel {
    position: absolute;
    top: 17em;
    left: 14em;
    font-size: .8em;
}
#yEvenRotationOnOff {
    position: absolute;
    top: 18.5em;
    left: 14em;
}
#yOddRotationOnOffLabel {
    position: absolute;
    top: 22em;
    left: 14em;
    font-size: .8em;
}

#yOddRotationOnOff {
    position: absolute;
    top: 23.5em;
    left: 14em;
}




#planeZLayersEditLabel {
    position: absolute;
    top: 2em;
    left: 19em;
}

#planeZLayersShape {
    position: absolute;
    top: 5em;
    left: 22.5em;
}

#animateZOnOffLabel {
    position: absolute;
    top: 6em;
    left: 19em;
}

#animateZOnOff {
    position: absolute;
    top: 9em;
    left: 23em;
}
#animationZSpeedLabel {
    position: absolute;
    top: 10em;
    left: 19em;
}
#animationZSpeed {
    position: absolute;
    top: 14em;
    left: 23em;
}

#zEvenRotationOnOffLabel {
    position: absolute;
    top: 17em;
    left: 24em;
    font-size: .8em;
}

#zEvenRotationOnOff {
    position: absolute;
    top: 18.5em;
    left: 24em;
}
#zOddRotationOnOffLabel {
    position: absolute;
    top: 22em;
    left: 24em;
    font-size: .8em;
}

#zOddRotationOnOff {
    position: absolute;
    top: 23.5em;
    left: 24em;
}